.col-md-6
  = render :partial => 'buyer/dashboard/partials/orders',
    :locals => {:orders => @orders.decorate}

  = render :partial => 'buyer/dashboard/partials/awarded_orders',
    :locals => {:orders => @awarded_orders.decorate}

.col-md-6
  .panel.panel-primary
    .panel-heading Activities for the last 7 Days
    %ul.list-group
      = list_of @activities, :class => 'list-group-item' do |activity|
        = raw activity
