.col-md-6
  = render :partial => 'buyer/dashboard/partials/orders',
    :locals => {:orders => @orders.decorate}

  = render :partial => 'buyer/dashboard/partials/awarded_orders',
    :locals => {:orders => @awarded_orders.decorate}

.col-md-6
  = render :partial => 'dashboards/activities',
    :locals => {:activities => @activities}
