= form_for [:bidder, bid, bid.comments.new],
  :html => {:class => 'form-horizontal js-comment-form'} do |f|

  .form-group
    .col-sm-12
      = f.text_area :content,
        :class => 'js-comment-content form-control'

  .form-group
    .col-sm-6
      = link_to 'Post Comment', '#',
        :class => 'js-submit-comment btn btn-primary'