.page-header
  .pull-left
    %h1 Orders
  .pull-right
    = link_to '+ New', [:new, :buyer, :order],
      :class => 'btn btn-primary'

  .clearfix

= render :partial => 'orders/list',
  :locals => {:orders => @orders.decorate,
    :account => :buyer, :show_status => true}