- order = @order.decorate

= render :partial => 'buyer/orders/partials/details',
  :locals => {:order => order}

= render :partial => 'buyer/orders/partials/attachments',
  :locals => {:order => order, :show_delete => true}

- if order.bids.any?
  = render :partial => 'buyer/orders/partials/bid',
    :collection => order.bids,
    :locals => {:order => order}
- else
  .col-md-12
    .panel{:class => order.panel_class}
      .panel-heading Bids
      .panel-body
        %h4 No bids have been made yet.
