- panel_class = @bid.decorate.panel_class

= render :partial => 'bidder/bids/partials/bid',
  :locals => {:bid => @bid, :panel_class => panel_class}

= render :partial => 'bidder/bids/partials/attachments',
  :locals => {:bid => @bid, :panel_class => panel_class}

= render :partial => 'comments/comment_panel',
  :locals => {:bid => @bid,
    :panel_class => panel_class,
    :account => :bidder}
