%tr
  %td{:style => 'padding:10px 0 40px;'}
    Hi
    %strong= @recipient.name
    ,

%tr
  %td
    %strong #{@bid.bidder}
    withdrew from the bidding process for order with item
    %strong= link_to @order.item, [:buyer, @order]

%tr
  %td{:style => 'padding:20px 0;'}
    View bid
    = link_to 'here', [:buyer, @bid]
