.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      = link_to 'IS226', [:buyer, :root], :class => 'navbar-brand'

    %ul.nav.navbar-nav.navbar-left
      %li.dropdown
        = link_to 'Orders', [:buyer, :orders]

    = render :partial => 'shared/my_account_nav',
      :locals => {:account => :buyer}
