.col-md-6
  = render :partial => 'bidder/dashboard/partials/week_orders',
    :locals => {:orders => @orders.decorate}

  = render :partial => 'bidder/dashboard/partials/bid_orders',
    :locals => {:orders => @orders_with_bids.decorate}

  = render :partial => 'bidder/dashboard/partials/awarded_orders',
    :locals => {:orders => @awarded_orders.decorate}

.col-md-6
  = render :partial => 'buyer/dashboard/partials/activities',
    :locals => {:activities => @activities}
