-#
-# locals:
-#   orders
-#   account
-#   show_status
-#

- show_status = local_assigns[:show_status] || false

%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Item
      - if show_status
        %th Status
      %th Created At
      %th # of Bids
  %tbody
    = render :partial => 'orders/order',
      :collection => orders,
      :locals => {:account => account, :show_status => show_status}