-#
-# locals:
-#   order
-#   account
-#   show_status
-#

- show_status = local_assigns[:show_status] || false

%tr
  %td= link_to order, [account, order]
  - if show_status
    %td= order.status
  %td= order.created_at
  %td= order.bids.count