- panel_class = @bid.decorate.panel_class

= render :partial => 'buyer/bids/partials/bid',
  :locals => {:bidder => @bid.bidder,
    :bid => @bid,
    :panel_class => panel_class}

= render :partial => 'buyer/bids/partials/bidder',
  :locals => {:bidder => @bid.bidder,
    :panel_class => panel_class}

= render :partial => 'buyer/bids/partials/attachments',
  :locals => {:bid => @bid, :panel_class => panel_class}

= render :partial => 'comments/comment_panel',
  :locals => {:bid => @bid,
    :panel_class => panel_class,
    :account => :buyer}
