- order = @order.decorate

= render :partial => 'bidder/orders/partials/details',
  :locals => {:order => order}

= render :partial => 'bidder/orders/partials/client_details',
  :locals => {:order => order, :client => order.user.decorate}

= render :partial => 'bidder/orders/partials/bid',
  :locals => {:order => order}
