%tr
  %td{:style => 'padding:10px 0 40px;'}
    Hi
    %strong= @recipient.name
    ,

%tr
  %td{:style => 'padding-bottom:20px;'}
    A new order has been requested.

= render :partial => 'order_mailer/partials/order_details',
  :locals => {:order => @order}
