-#
-# locals:
-#   activities
-#

.panel.panel-primary
  .panel-heading Activities for the last 7 Days
  %ul.list-group
    = list_of activities, :class => 'list-group-item' do |activity|
      = raw activity
