-#
-# locals:
-#   order
-#

.col-md-12
  .panel{:class => order.panel_class}
    .panel-heading Attachments
    .panel-body
      = render :partial => 'attachments/form',
        :locals => {:owner => order,
          :account => :buyer}
