-#
-# locals:
-#   order
-#   bid
-#

.col-md-12
  .panel{:class => bid.decorate.panel_class}
    .panel-heading
      .pull-left Bid by #{bid.bidder}
      .pull-right
        = link_to 'View', [:buyer, bid], :class => 'btn btn-info btn-xs'

      .clearfix

    .panel-body
      = raw bid
