<div class='comment'>
  <div class='well well-sm'>
    <blockquote>
      <p>{{{content}}}</p>
      <footer>
        <p>{{commenter}}</p>
        <small>{{created_at}}</small>
      </footer>
    </blockquote>
  </div>
</div>
